extends layout

block scripts
  script(type='text/javascript', src='/javascripts/ThreeDebug.js')
  script(type='text/javascript', src='/javascripts/Ship.js')
  script(type='text/javascript', src='/javascripts/Wall.js')
  script(type='text/javascript', src='/javascripts/THREEx.KeyboardState.js')
  script(type='text/javascript', src='/javascripts/FlyControls.js')
  script(type='text/javascript', src='/javascripts/main.js')

block content
  div Controls
    ul(class="controls")
      li WASD : move
      li R|F : up | down
      li Q|E : roll
      li up|down : pitch
      li left|right : yaw
  canvas#viewport
