extends layout

block content
  h1= title
  script(type='text/javascript', src='/javascripts/FlyControls.js')
  script(type='text/javascript', src='/javascripts/main.js')
  #sidenote
    p Controls
      ul
        li WASD : move
        li R|F : up | down
        li Q|E : roll
        li up|down : pitch
        li left|right : yaw
    p See the project on 
      a(href="https://github.com/boombador/BotWorld") Github
    p Current Feature In Progress : something to do with your spaceship
    p Recent achievement : Not needing to understand quaternions
