extends layout

block scripts
  script(type='text/javascript', src='/javascripts/ThreeDebug.js')
  script(type='text/javascript', src='/javascripts/Ship.js')
  script(type='text/javascript', src='/javascripts/Wall.js')
  script(type='text/javascript', src='/javascripts/THREEx.KeyboardState.js')
  script(type='text/javascript', src='/javascripts/FlyControls.js')
  script(type='text/javascript', src='/javascripts/main.js')

block content
  #controls
    div(class="label") Controls
    ul
      li <b>WASD</b> : move
      li <b>R|F</b> : up | down
      li <b>Q|E</b> : roll
      li <b>up|down</b> : pitch
      li <b>left|right</b> : yaw
      li <a href="#small" data-size="small" onclick="resize(this)">S</a>
      li <a href="#medium" data-size="medium" onclick="resize(this)">M</a>
      li <a href="#large" data-size="large" onclick="resize(this)">L</a>
  canvas#viewport
