doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/ThreeDebug.js')
    script(type='text/javascript', src='/javascripts/Ship.js')
    script(type='text/javascript', src='/javascripts/Wall.js')
    script(type='text/javascript', src='/javascripts/THREEx.KeyboardState.js')
  body
    block content
