body {
  padding: 10px;
  margin: 0 auto;
  width: 960px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color: #eeeeee;
}

canvas {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}

#title {
    float: left;
}

/* navigation */

a {
  color: #666666;
}
.navLink {
    font-size: 36px;
    float: right;
    padding: 20px 0 20px 10px;
    text-decoration: none;
}

.navLink:hover {
    color: #FF7F00;
}

/* styles for control block */
#controls .label {
    float: left;
    margin: 15px 0;
    padding: 0 10px;
}
#controls ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    padding: 0 10px;
}
#controls li {
    float: left;
    padding-right: 40px;
}


